
  <div class="row">
    <div class="col-md-12 col-lg-12">
    <div class="col-md-offset  col-lg-offset-3 col-md-6 col-lg-6">
      <form class="form-horizontal top-100">
        <span class="heading">用户登录</span>
        <div class="form-group">
          {{input type="email" class="form-control" placeholder="电子邮件" value=userEmail}}
          <i class="fa 	glyphicon glyphicon-user"></i>
        </div>
        <div class="form-group help">
          {{input type="password" class="form-control" placeholder="密　码" value=userPassword}}
          <i class="fa glyphicon glyphicon-lock"></i>
          <a href="#" class="fa fa-question-circle glyphicon glyphicon-record"></a>
        </div>
        <div class="form-group">
         <!--
         <div class="main-checkbox">
            <input type="checkbox" value="None" id="checkbox1" name="check"/>
            <label for="checkbox1"></label>
          </div>
          <span class="text">Remember me</span>
          -->
          <button type="submit" class="btn btn-default" {{action 'authenticate'}}>登录</button>
        </div>
        <p class="danger-word" style="height: 30px;line-height: 30px;">{{errorInfo}}</p>
      </form>
    </div>
    </div>
  </div>
