{{!-- <div class="row">
  <div class="input-group" style="margin: 5px;">
    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
    {{input type='text' class="form-control" style="font-family: regular;"  placeholder=Placeholder value=searchValue}}
  </div>
</div> --}}
<div class="row">
  <div>
    <ul id= {{_wrapId}} style="{{treeSize}}" class="ztree"></ul>
  </div>
</div>
